{% extends "layoutLoggedPages.html" %}

{% block heading %}
    {% if session.get('LoggedUserDisplayName') %}
        Welcome {{ session.get('LoggedUserDisplayName') }} 
    {% else %}
        Book Search
    {% endif %}
{% endblock %}

{% block BodyData %}
<table width="100%" border="0">
    <tbody>
        <tr>
            <td>
                <form name="searchbook" action="{{ url_for('booksearch') }}" method="post"><br>
                    <div class="form-group" style="width: 50%;">
                        <input autofocus="autofocus" class="form-control"  name="inputSearchData" {% if SearchData %} value="{{ SearchData}}"
                            {% endif %}>
                    </div>
                    <font><b>Search in fields</b></font>
                    <input type="radio" name="column" value="title">Title
                    <input type="radio" name="column" value="author">Author(s)
                    <input type="radio" name="column" value="identifier" checked="">ISBN
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>


<br>
{% if ErrorMsg %}
<div class="alert alert-danger" role="alert" style="text-align: center;">
  {{ ErrorMsg }}
</div>
{% endif %}

<br>




{% endblock %}
