{% extends "layout.html" %}


{% block NavigationBar %}
<div class="NavigationBar">
    <a href="{{ url_for('booksearch') }}">Book Search</a>
    <a href="{{ url_for('logout') }}" class="right">Log Out</a>
  </div>
{% endblock %}

{% block heading %}
{% if session.get('LoggedUserDisplayName') %}
Welcome {{ session.get('LoggedUserDisplayName') }}

{% if session.get('LoggedUserJoiningDate') %}
<p style="font-size: medium;"> (Member since {{ session.get('LoggedUserJoiningDate') }})</p>
{% endif %}

{% endif %}
{% endblock %}
