<!DOCTYPE html>
<html>

<head>
    <title>Book Review!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='navigationbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='heading.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block ExtraStyle %}
    {% endblock %}
    
</head>

<body>
    {% block NavigationBar %}
    {% endblock %}

    <div class="header">
        <h1>{% block heading %}{% endblock %}</h1>
    </div>

    {% block BodyData %}
    {% endblock %}


    <div class="footer">
        <h1>{% block Footer %}{% endblock %}</h1>
    </div>

</body>

</html>